; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[*]
end_of_line = CRLF
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.sh]
end_of_line = LF

[*.DotSettings]
end_of_line = LF