name: Close Milestones

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Build with cake
        uses: cake-build/cake-action@v1.3.0
        with:
          script-path: setup.cake
          target: Close-Milestones
          verbosity: Diagnostic
          cake-version: 1.0.0
          cake-bootstrap: true
